[Unit]
Description=MQI Transfer receiver
Wants=network-online.target
After=network-online.target

# Substitute @@MOQUI_USER@@ and @@MOQUI_ROOT@@ before installing.
# See mqi_communicator.service for an example sed command.

[Service]
Type=simple
User=@@MOQUI_USER@@
Group=@@MOQUI_USER@@
WorkingDirectory=@@MOQUI_ROOT@@/mqi_transfer/Linux
ExecStart=@@MOQUI_ROOT@@/mqi_communicator/.venv/bin/python3 @@MOQUI_ROOT@@/mqi_transfer/Linux/mqi_transfer.py
Restart=on-failure
RestartSec=3
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
Environment=MOQUI_SMC_ROOT=@@MOQUI_ROOT@@

[Install]
WantedBy=multi-user.target
