[Unit]
Description=MQI Transfer receiver
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=jokh38
Group=jokh38
WorkingDirectory=/home/jokh38/MOQUI_SMC/mqi_transfer/Linux
ExecStart=/home/jokh38/MOQUI_SMC/mqi_communicator/.venv/bin/python3 /home/jokh38/MOQUI_SMC/mqi_transfer/Linux/mqi_transfer.py
Restart=on-failure
RestartSec=3
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
